{#{% extends 'bootstrap/base.html' %}#}

{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/41/Zik_Squadron_%28Hermes_450%29%2C_%28cropped%29.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ current_user.name }}</h1>
            <span class="subheading">מידע אישי</span>
          </div>
        </div>
      </div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
  </header>
<style>
    h7{text-align: center;}
    article{text-align: center}
</style>
  <!-- Main Content -->
  <div style="">
{#    <div class="row">#}
{#      <div class="col-lg-8 col-md-10 mx-auto">#}
{#        {% for post in all_posts %}#}
{#        <div class="post-preview">#}
{#          <a href="{{ url_for('show_post', post_id=post.id) }}">#}
{#            <h2 class="post-title">#}
{#              {{post.title}}#}
{#            </h2>#}
{#            <h3 class="post-subtitle">#}
{#              {{post.subtitle}}#}
{#            </h3>#}
{#          </a>#}
{#          <p class="post-meta">Posted by#}
{#            {{post.author.name}}#}
{#            on {{post.date}}#}
{#            {% if current_user.id == 1: %}#}
{#            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>#}
{#            {% endif %}#}
{#          </p>#}
{#        </div>#}
{#        {% endfor %}#}
{##}
{##}
{#        <!-- New Post -->#}
{#        {% if current_user.id == 1: %}#}
{#        <div class="clearfix">#}
{#          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>#}
{#        </div>#}
{#        {% endif %}#}
{#      </div>#}
      <div style="text-align:center" class="rendered-form" id="container">
        <div style="text-align:center" class="" id="centeredBlock">

        {% if current_user.id != 1 %}
            <h5 style="text-align:center; direction: rtl"><b>שעות טיסה מבצעיות:</b></h5>
            <div class="progress" style="width: 30%; margin: auto" >
            <div class="progress-bar" role="progressbar" style="width:{{ current_user.op_flight_time / current_user.op_flight_time_goal * 100}}%" aria-valuenow="{{ current_user.op_flight_time }}" aria-valuemin="0" aria-valuemax="{{ current_user.op_flight_time_goal }}">{{ current_user.op_flight_time }}\{{ current_user.op_flight_time_goal }}</div>
                <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            </div>
            <h5 style="text-align:center; direction: rtl"> <b>שעות טיסה אימון:</b></h5>
                <div class="progress" style="width: 30%; margin: auto" >
            <div class="progress-bar" role="progressbar" style="width:{{ current_user.tr_flight_time / current_user.tr_flight_time_goal * 100}}%" aria-valuenow="{{ current_user.tr_flight_time }}" aria-valuemin="0" aria-valuemax="{{ current_user.tr_flight_time_goal }}">{{ current_user.tr_flight_time }}\{{ current_user.tr_flight_time_goal }}</div>
                <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            </div>
            <h7 style="text-align:center; direction: rtl"><b>סטטוס:</b> {{ current_user.status }}</h7>
                        <br>
            <h7 style="text-align:center; direction: rtl"><b>כשירות:</b> {{ current_user.qualified }}</h7>
                        <br>
            <h7 style=""><b>סטטוס הסמכה:</b> {{ current_user.qualified_status }}</h7>
                <br>
            <h7 style="text-align:center; direction: rtl"> <b>שעות טיסה הדרכה:</b> {{ current_user.guide_flight_time }}</h7>
                        <br>
            <h7 style=""><b>טיסה אחרונה:</b> {{ current_user.last_flight_date }}</h7>
                        <br>
            {% if current_user.madrat %}
            <h7 style=""><b>מדר"ט:</b> כן </h7>
            {% else %}
            <h7 style=""><b>מדר"ט:</b> לא </h7>
                {% endif %}
                <br>
            {% if current_user.coach %}
            <h7 style=""><b>מאמן:</b> כן </h7>
            {% else %}
            <h7 style=""><b>מאמן:</b> לא </h7>
                {% endif %}
                <br> <br>
            <a class="btn btn-primary" href="{{ url_for('add_new_review') }}">סיימתי טיסה</a>

            {% else %}

            <br>

        {% endif %}
        </div>

    </div>
    </div>
{#  </div>#}
  <hr>

{#{% include "footer.html" %}#}
